/* RecipeUploadForm.css */
.recipe-upload-form-container {
    display: flex;
    flex-direction: column;
    width:40vw;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px 40px 30px 30px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: "Raleway", sans-serif;
}

.title {
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group input.error,
.form-group select.error,
.form-group textarea.error {
    border-color: #e74c3c;
}

.error-message {
    color: #e74c3c;
    font-size: 0.875em;
}

button {
    padding: 10px 15px;
    background-color: #5eb000;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #3a6011;
}

@media (max-width: 768px){
    .recipe-upload-form-container{
        width:60vw;
    }
}