.search-bar {
    display: flex;
    align-items: center;
    min-width: 200px;
    width: 30vw;
    max-width: 700px; /* Adjust the width as needed */
    margin: 20px auto; /* Center the search bar */
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px;
    background-color: #ffffff;
}

.search-input {
    flex: 1;
    border: none;
    padding: 8px;
    font-size: 20px;
}

.search-button {
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    background-color: #A02334;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-left: 5px;
}

.search-button:hover {
    background-color: #d75063;
}

@media (max-width: 768px){

    .search-input {
        font-size: 15px;
    }
    .search-button{
        margin-left: 20px;
    }
}