.topbar {
    width: 100%;
    height: 70px;
    background-color: white;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    color: #A02334;
    z-index: 1;

    -webkit-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.29);
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.29);
}

.topLeft, .topRight {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topCenter {
    flex: 6;
    padding-left: 0;
}

.topLogoIcon {
    font-size: 36px;
}

.topProfileIcon {
    font-size: 30px;
}

.topProfileIcon:hover {
    cursor: pointer;
}

.topList {
    display: flex;
    justify-content: space-around;
    background: transparent;
}

.itemText:hover {
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.4);
}

.topListItem:hover {
    cursor: pointer;
}




/* Media Queries for Smaller Screens */
@media (max-width: 768px) {
    .topbar {
        height: auto; /* Adjust height for stacked layout */
        flex-direction: row;
        justify-content: space-between;
        padding: 5px;
    }

    .topLeft, .topRight {
        flex: 1;
    }

    .topCenter {
        flex: 3;
        flex-direction: column;
        margin-top: 10px;
    }

    .topList {
        flex-direction: column;
        align-items: center;
        margin-top: 5px;
    }

    .topListItem {
        margin-bottom: 5px;
    }

    .topLogoIcon, .topProfileIcon {
        font-size: 24px; /* Adjust icon sizes for smaller screens */
    }
}

@media (max-width: 480px) {
    .topLogoIcon {
        font-size: 20px; /* Further adjust icon size for very small screens */
    }

    .topProfileIcon {
        font-size: 20px;
    }

    .topListItem {
        margin-bottom: 5px;
    }

    .itemText {
        font-size: 14px; /* Adjust text size for very small screens */
    }
}

.topRight {
    display: flex;
    align-items: center;
}

.topProfileIcon {
    cursor: pointer;
    margin-right: 10px;
}

.logoutButton {
    background-color: #f44336; /* Red background for logout button */
    color: white; /* White text */
    border: none; /* Remove border */
    padding: 5px 10px; /* Padding around the text */
    margin-right: 20px;
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 1em; /* Font size */
}

.logoutButton:hover {
    background-color: #d32f2f; /* Darker red on hover */
}
